@media (max-width: 768px) {
    .cabecalho {
        justify-content: space-between;
    }

    .cabecalho-imagem {
        width: 42px;
        height: 42px;
        margin-right: 10px;
    }

    .cabecalho-menu {
        gap: 20px;
        justify-content: center;
        align-items: normal;
    }

    .cabecalho-menu-itens {
        font-size: 14px;
    }

    .conteudo-principal {
        padding-top: 20px;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .conteudo-principal-escrito {
        align-items: center;
    }

    .conteudo-principal-escrito-subtitulo{
        padding: 0 15px;
    }

    .conteudo-principal-escrito-botao {
        width: 130px;
        height: 67px;
        font-size: 16px;
    }

    .conteudo-principal-imagem {
        height: 300px;
        margin-bottom: 20px;
    }

    .conteudo-secundario-paragrafo {
        padding: 0 15px;
        text-align: justify;
    }
}